<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>学生在线选课系统</title>
    <link rel="stylesheet" th:href="@{/css/loginPage.css}"></link>
</head>
<body>
    <img id="wallpaper" th:src="@{/images/back.jpg}"></img>
    <div class="over_content"></div>
    <div class="main_box">
        <div class="content">

        </div>
        <footer>
            <div class="foot">
                <span>@mingchunlin</span>
            </div>
        </footer>
    </div>
</body>
</html>