<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="manager/header"/>
    <meta charset="UTF-8"/>
    <title>添加学期</title>
    <script src="/js/addTerm.js"></script>
</head>
<body>
<div style="width: 70%;margin-left: 15%;">
    <br/>
    <h2>添加学期</h2><br/>
    <div class="col-lg-6">
        <div class="input-group">
            <input type="number" class="form-control" placeholder="要添加的学期"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">添加</button>
            </span>
        </div>
        <div id="hint-div">

        </div>
    </div>
</div>

</body>
</html>