<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="manager/header"/>
    <meta charset="UTF-8"/>
    <title>更改教学班信息</title>

    <script src="/js/changeClass.js"></script>

    <link rel="stylesheet" type="text/css"
          href="http://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/css/bootstrap-select.css"/>
    <script type="text/javascript"
            src="http://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/js/bootstrap-select.js"></script>
</head>
<body onload="findClassBySchool();">
<div style="width: 70%;margin-left: 15%;margin-top: 45px;">
    <div>
        <h4>请选择要操作的教学班所在的学院</h4><br/>
        <div class="container" style="width: 80%;float: left">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-lg-10" style="width: 62.5%;">
                        <select id="selectSchool" class="form-control" onchange="findClassBySchool();">
                            <option th:each="school:${schoolList}" th:text="${school.school}"></option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div style="clear: both;"></div>
        <br/>
        <div>
            <h4>请选择教学班班号</h4><br/>
            <div class="container" style="width: 80%;float: left">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-lg-10" style="width: 62.5%;">
                            <select id="selectClass" class="form-control">

                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div style="clear: both;"></div>
        </div>
        <br/>
        <div id="hint-delete">

        </div>
        <div class="btn-group" style="margin-left: 15px;margin-top: 20px;width: 50%;">
            <button id="changeBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#changeModal" style="width: 93%;height: 35px;">
                更改教学班信息
            </button>
        </div>
    </div>
    <div class="btn-group" style="margin-left: 15px;margin-top: 35px;width: 50%;">
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal"
                style="width: 93%;height: 35px;">
            删除选中的教学班
        </button>
    </div>
</div>
<div class="modal fade" id="changeModal" tabindex="-1" role="dialog" aria-labelledby="changeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="changeModalLabel">更改教学班信息</h4>
            </div>
            <div class="modal-body">
                <div>
                    <h4>请选择新学院</h4><br/>
                    <div class="container" style="width: 80%;float: left">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-lg-10" style="width: 100%;">
                                    <select id="bs3Select" class="form-control">
                                        <option th:each="school:${schoolList}" th:text="${school.school}"></option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div style="clear: both;"></div>
                    <br/>
                    <div>
                        <h4>请输入更改后的教学班班号</h4><br/>
                        <div class="col-lg-6" style="width: 80%;">
                            <input type="text" class="form-control"/>
                            <div id="hint-div">

                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <br/>
                </div>
            </div>
            <div class="modal-footer" style="margin-right: 6%;">
                <button id="confirmBtn" type="button" class="btn btn-warning" style="width: 46%;height: 35px;">
                    确定更改
                </button>
                <button type="button" class="btn btn-success" data-dismiss="modal" style="width: 46%;height: 35px;">取消</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">删除教学班</h4>
            </div>
            <div class="modal-body">是否删除选中的教学班？</div>
            <div class="modal-footer">
                <button id="deleteBtn" type="button" class="btn btn-warning" data-dismiss="modal">确定删除</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">取消删除</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>